<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Goblins</string>
		<key>images</key>
		<array>
			<string>emote_goblin_boohoo.png</string>
			<string>emote_goblin_anchored.png</string>
			<string>emote_goblin_confused_01.png</string>
			<string>emote_goblin_confused_02.png</string>
			<string>emote_goblin_deal_with_it.png</string>
			<string>emote_goblin_excited.png</string>
			<string>emote_goblin_flex.png</string>
			<string>emote_goblin_forfiet.png</string>
			<string>emote_goblin_grin.png</string>
			<string>emote_goblin_grinch.png</string>
			<string>emote_goblin_laugh.png</string>
			<string>emote_goblin_love.png</string>
			<string>emote_goblin_masterplan.png</string>
			<string>emote_goblin_ohno.png</string>
			<string>emote_goblin_peace.png</string>
			<string>emote_goblin_this_is_fine.png</string>
			<string>emote_goblin_thumbs_up.png</string>
			<string>emote_goblin_tongue.png</string>
			<string>emote_goblin_waiting.png</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Princess</string>
		<key>images</key>
		<array>
			<string>emote_princess_trumpet.png</string>
			<string>emote_princess_angry.png</string>
			<string>emote_princess_flex.png</string>
			<string>Emote_Princess_GoAhead.png</string>
			<string>emote_princess_heart.png</string>
			<string>emote_princess_hongbao.png</string>
			<string>emote_princess_peace.png</string>
			<string>emote_princess_thumbs_up.png</string>
			<string>emote_princess_tumbs_up_02.png</string>
			<string>emote_princess_whistle.png</string>
			<string>emote_princess_yarn.png</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Black Guy</string>
		<key>images</key>
		<array>
			<string>emote_hog_rider_confused.png</string>
			<string>emote_hog_rider_golden.png</string>
			<string>emote_hog_rider_love.png</string>
			<string>emote_hog_rider_santa.png</string>
			<string>emote_hog_rider_scream.png</string>
			<string>emote_hog_rider_snowball_christmas.png</string>
			<string>Emote_Hogrider_Sunset.png</string>
			<string>Emote_HogRider_Think.png</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>King</string>
		<key>images</key>
		<array>
			<string>emote_king_angry.png</string>
			<string>emote_king_cry.png</string>
			<string>emote_king_laugh.png</string>
			<string>emote_king_pixelated_laugh.png</string>
			<string>Emote_King_RocketRide.png</string>
			<string>Emote_King_ShareCry.png</string>
			<string>Emote_King_SquadBaby.png</string>
			<string>emote_king_thumbs_up_01</string>
			<string>emotes_king_chessthink.png</string>
			<string>emotes_king_chessquit.png</string>
		</array>
	</dict>
</array>
</plist>
